<!DOCTYPE html>
<html>
	<head>
		<title>Destination Finder</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script> 
	</head>
	<body>
		<div class="container">
			<div class="row" style="border-bottom:2px solid black; background-color:#0099ff;">
				<h1 style="color:white;">Destination Finder</h1>
			</div>
			<div class="row">
				<div class="col-1" style="border-right:2px solid black">
					<div class="row">
						<a href="/destinationFinder">Country List</a>
					</div>
				</div>
				<div class="col-11">
				{% block content %}
			
				{% endblock %}
				</div>
			</div>
		</div>
	</body>

</html>
